.Owner {
  font-weight: bold;
  /* Makes the owner's text bold for emphasis */
  color: #2142b2;
  /* Sets the text color to a blue shade */
  margin-right: 8px;
  /* Adds space to the right of the owner's name */
}

.Date {
  font-weight: lighter;
  /* Makes the date text less bold (lighter weight) */
  color: #c1c1c5;
  /* Sets the text color to a light gray shade */
}