.DropdownItem {
  display: inline-block;
  /* Makes the dropdown item display inline, allowing it to sit side by side */
  max-width: 50%;
  /* Limits the maximum width of the item to 50% of its container */
  padding: 0px;
  /* Removes any default padding */
}

.Absolute {
  position: absolute;
  /* Positions the element */
  right: 0;
  /* Aligns it to the right */
  z-index: 99;
  /* Ensures it appears on top */
  font-size: 1.5rem; /* Adjust font size for larger icons */
  width: 30px; /* Adjust width */
  height: 30px; /* Adjust height */
  line-height: 30px; /* Center align vertically */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  cursor: pointer; /* Adds pointer cursor */
}

.Absolute:hover {
  transform: scale(1.2); /* Optionally, add hover effect for emphasis */
}